# IDE
**/.vs/
**/.vscode/

# .NET
**/bin/
**/obj/
**/Migrations/

# Node / Angular
**/node_modules/
**/.angular/

# logs & env
**/logs/
**/.env

# git (clean)
**/.git
**/.github

# docker / ci
**/docker-compose*
**/Dockerfile*

# misc
**/README.md
**/LICENSE

#Infrastructure
**/Infrastructure/

#mine
**/test/
**/usefull/
**/opinia/