POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=group_project_db
POSTGRES_USER=
POSTGRES_PASSWORD=

JWT_SECRET=Uv77quc+MomavQHoTs8zds7X13UEe8USdbjCQRQ5T181

TARGET_EMAIL=
TICKETMASTER_API_KEY=

TWILIO_SMS_SEND_STATE=false

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://localhost