POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=group_project_db
POSTGRES_USER=
POSTGRES_PASSWORD=

JWT_SECRET=Uv77quc+MomavQHoTs8zds7X13UEe8USdbjCQRQ5T181

MAILTRAP_SENDER_USER=https://mailtrap.io/
MAILTRAP_SENDER_PASS=
TARGET_EMAIL=
TICKETMASTER_API_KEY=https://developer.ticketmaster.com/products-and-docs/apis/discovery-api/v2/

TWILIO_SMS_SEND_STATE=false

TWILIO_SID=https://www.twilio.com/docs/usage/api
TWILIO_TOKEN=
TWILIO_NUMBER=+17622165031
SMS_RECEIVER=

STRIP_PUB_KEY=https://stripe.com/en-pl/payments?utm_adposition=&utm_matchtype=p
STRIP_SEC_KEY=
STRIPE_WEBHOOK_SECRET=https://dashboard.stripe.com/webhooks

GOOGLE_CLIENT_ID=https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://localhost