CONNECTION_STRING= //for AWS local in appsetings

MAILTRAP_SENDER_USER=
MAILTRAP_SENDER_PASS=
TARGET_EMAIL=
TICKETMASTER_API_KEY=

TWILIO_SMS_SEND_STATE=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_NUMBER=+17622165031
SMS_RECEIVER=

STRIP_PUB_KEY=
STRIP_SEC_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI= 