<header>
  <nav class="navbar">

    <div class="left">
      <a routerLink="/login-callback">login-callback</a>
      <a routerLink="/get-events">get-events</a>
    </div>

    <div class="right">
      @if (isLoggedIn()) {
        <div class="dropdown">
          <button type="button">
            Witaj {{ userEmail }}
          </button>

          <div class="dropdown-content">
            <a routerLink="/edit-user">edytuj Konto</a>
            <a routerLink="/user-tickets">Moje eventy</a>
          </div>
        </div>

        <button
          type="button"
          class="btn-primary"
          (click)="logout()"
        >
          Wyloguj
        </button>

      } @else {

        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>

      }

    </div>

  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  © 2025
</footer>