<button (click)="returnToLoginCallback()">returnToLoginCallback</button>

@if (editUserPasswordForm.errors?.['passwordMismatch']){
  <p>Hasła nie są takie same</p>
}

<p>edit-user-password works!</p>
<p>potem</p>
<main class="main">
  <form [formGroup]="editUserPasswordForm" (ngSubmit)="onSubmit()">
    <label>NewPassword</label>
    <input type="password" formControlName="newPassword" placeholder="newPassword" /> <br />

    <label>RepeatNewPassword</label>
    <input type="password" formControlName="repeatNewPassword" placeholder="repeatNewPassword" /> <br />

    <button type="submit">Change User Credentials</button>
  </form>
</main>